input[type="checkbox"] {
    display: inline-block;
}

li p {
    display: inline-block;
}

button {
    display: inline-block;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: url("samoyede.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

main {
    flex-grow: 1;
}

footer p {
    font-style: italic;
    margin: 0;
}

footer {
    padding-bottom: 50px;
}